/****GENERAL SETTINGS ****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: #eee; */
    font-size: 16px;
}

h1 {
    width: 60%;
    letter-spacing: 0;
    line-height: 2rem;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-size: 2.5rem; */
}

h2 {
    color: #fff;
    background: #ff0000;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: .2rem .5rem;
    letter-spacing: 0;
    /* text-align: center; */
}

h4 {
    color: #ff0000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 41px;
}

/**** MAIN CONTENT ****/
main {
    margin: 0 auto;
}

/**** HEADER ***/

header {
    /* background-image: linear-gradient(rgba(199, 24, 24, 0.5), rgba(172, 33, 33, 0.5)), url(./img/sign.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/letter.jpg);
    background-size: cover;
    background-position: center;

    height: 60vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0 2rem 0 2rem;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    /* align-content: center; */
    /* align-content: flex-end; */
    /* display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, 1fr) minmax(6rem, 1fr) minmax(2rem, 1fr);
    grid-template-rows: repeat(4, 1fr); */
}

.header_container {
    width: 100%;
    height: 100%;

    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.header_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}

.icons {
    /* width: 50%; */
    margin-left: auto;
    /* position: relative;
    top: 10%;
    text-align: right;
    padding: 1rem 0; */
    /* display: flex;
    justify-content: space-between; */
}

.icons a {
    /* padding-left: .1rem; */
    /* border: 3px solid #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%; */
    /* padding: .5rem; */
}

.icons span {
        width: 45px;
        height: 45px;
        border: 3px solid #fff;
        border-radius: 50%;
        display: inline-block;
}

span svg path {
    fill: #fff;
  }

svg {
    /* border-radius: 50%; */
    
    /* height: 50%; */
    
    /* filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px -1px 0px #111); */
    /* stroke-linecap: round; */
    width: 30px;
    height: 30px;
    display: block;
  margin: 0 auto;
  padding-top: 5px;

}

.personal_data {
    /* margin-right: auto;
    position: relative;
    width: 80%;
    top: 15%; */
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}

.personal_data h1 {
    font-weight: 600;
}

.personal_data p {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 1.12px;    
}

.personal_data span {
    font-weight: 600;
}

.profile_image {
    border-radius: 50%;
    border: 3px solid #fff;
    /* margin-top: 3rem; */
    width: 150px;
    
    margin-left: auto;
    position: relative;
    bottom: -1.5rem;
    
}

/*** ABOUT ME ****/

.about_me,
.featured_projects {
    width: 100%;
    /* font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 400; */
    background: #f4f4f4;
    padding: 5rem 0;
}

.about_me_div,
.tech_div,
.featured_projects_div  {
    width: 85%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #f4f4f4;
    /* line-height: 40px; */
}

.icon_line {
    width: 20%;
}

/*** TECH SECTION ***/

.tech {
    width: 100%;
    padding: 5rem 0;
}

.tech_div {
    background: #fff;
    text-align: center;
}

.tech_div p {
    padding-top: 2rem;
}

/***FEATURED PROJECTS ***/

.featured_projects_flex {
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_container {
    width: 100%;
    margin-bottom: 2rem;
    /* flex-basis: 50%; */
}

.flex_container a {
    color: #ff0000;
    font-weight: 900;
}

.flex_container p {
    font-size: .9rem;
    line-height: 35px;
}

.featured_img {
    width: 100%;
}



@media (min-width: 550px) {
    
    .header_container {
        width: 70%;
        margin: 0 auto;
    }

    .about_me_div,
    .tech_div {
        width: 63%;
        margin: 0 auto;
    }
}

@media (min-width: 750px) {

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .header_container {
        width: 60%;
        margin: 0 auto;
    }

    .profile_image {
        width: 200px;
    }

    .personal_data {
        font-size: 1.5rem;
    }

    .personal_data p {
        font-size: 1.1rem;
    }

    .about_me_div,
    .tech_div,
    .featured_projects_div  {
        width: 57%;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .icon_line {
        width: 15%;
    }

    
}

@media (min-width: 950px) {
    .featured_projects_flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex_container {
        width: 47%;
    }

    .flex_container p {
        font-size: 1rem;
    }
    

    /* .featured_img {
        width: 50%;
    } */
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .icon_line {
        width: 10%;
    }
}

@media (min-width: 1750px) {
    .about_me_div,
    .tech_div,
    .featured_projects_div {
        width: 56%;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0;
    }
}